@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap&subset=latin-ext);

/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --selective-yellow: hsl(42, 94%, 55%);
  --eerie-black-1: hsl(0, 0%, 9%);
  --eerie-black-2: hsl(180, 3%, 7%);
  --quick-silver: hsl(0, 0%, 65%);
  --radical-red: hsl(351, 83%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --isabelline: hsl(36, 33%, 94%);
  --gray-x-11: hsl(0, 0%, 73%);
  --kappel_15: hsla(170, 75%, 41%, 0.15);
  --platinum: hsl(0, 0%, 90%);
  --gray-web: hsl(0, 0%, 50%);
  --black_80: hsla(0, 0%, 0%, 0.8);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --kappel: hsl(170, 75%, 41%);
  --white: hsl(0, 0%, 100%);

  /**
   * gradient color
   */

  --gradient: linear-gradient(
    -90deg,
    hsl(151, 58%, 46%) 0%,
    hsl(170, 75%, 41%) 100%
  );

  /**
   * typography
   */

  --ff-league_spartan: "League Spartan", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.2rem;
  --fs-3: 2.3rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;

  --fw-500: 500;
  --fw-600: 600;

  /**
   * spacing
   */

  --section-padding: 75px;

  /**
   * shadow
   */

  --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
  --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);

  /**
   * radius
   */

  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
data,
input,
button,
ion-icon {
  display: block;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

.ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
  line-height: 1.2;
  padding-top: 1rem;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

.row::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--white);
  color: var(--gray-web);
  font-size: 1.6rem;
  line-height: 0.75;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: 0px;
}

.shape {
  position: absolute;
  display: none;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
  line-height: 1;
}

.h1,
.h2 {
  font-weight: var(--fw-600);
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}

.section-title {
  --color: rgb(255, 204, 0);
  text-align: center;
}

.section-title .span {
  display: inline-block;
  color: var(--color);
}

.btn {
  background-color: #fdb827;
  color: black;
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn::before {
  inset: 0;
  background-image: var(--gradient);
  z-index: -1;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: var(--transition-2);
}

.btn:is(:hover, :focus)::before {
  transform: translateX(0);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-text {
  font-size: var(--fs-5);
  text-align: center;
  margin-block: 15px 25px;
  line-height: 1.2;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.category-card,
.stats-card {
  background-color: hsla(var(--color), 0.1);
}

:is(.course, .blog) .section-title {
  margin-block-end: 40px;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header.active {
  position: fixed;
}

.header .container,
.header-actions,
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header-action-btn,
.nav-close-btn {
  position: relative;
  color: var(--eerie-black-1);
  font-size: 24px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) {
  color: blue;
}

.header-action-btn .btn-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: Blue;
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-6);
  min-width: 20px;
  height: 20px;
  border-radius: var(--radius-circle);
}

.navbar {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: blue;
  width: 100%;
  max-width: 320px;
  height: 100%;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(320px);
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
  padding: 15px 20px;
  border-block-end: 1px solid var(--platinum);
}

.nav-close-btn {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  padding: 8px;
  border-radius: var(--radius-circle);
}

.nav-close-btn:is(:hover, :focus) {
  background-color: blue;
  color: var(--white);
}

.navbar-list {
  padding: 15px 20px;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--platinum);
}

.navbar-link {
  padding-block: 8px;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: blue;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_80);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category .section-subtitle {
  color: var(--radical-red);
}

.category .section-title {
  --color: blue;
}

.category .section-text {
  margin-block-end: 40px;
}

.category-card {
  padding: 50px 22px;
  text-align: center;
  border-radius: var(--radius-5);
}

.category-card .card-icon {
  background-color: hsla(var(--color), 0.1);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-inline: auto;
  margin-block-end: 30px;
}

.category-card .card-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-5);
  margin-block: 15px 25px;
  line-height: 1.2;
}

.category-card .card-badge {
  background-color: hsla(var(--color), 0.1);
  color: hsl(var(--color));
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: var(--radius-5);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  padding-block-start: 0;
  overflow: hidden;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
}

.about-banner .img-holder {
  border-radius: var(--radius-10);
}

.about-shape-2 {
  display: block;
  bottom: -100px;
  left: -60px;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--selective-yellow);
  font-size: 20px;
  --ionicon-stroke-width: 50px;
}

.about-item .span {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
}

/*-----------------------------------*\
<!--Multichannel Chatbots -->
<!-- Multichannel Chatbots -->
<!-- Multichannel Chatbots -->
\*-----------------------------------*/

.video {
  background-size: contain;
  background-position: center top;
}

.video-banner {
  position: relative;
  /* border-top-right-radius: 80px;
  border-bottom-left-radius: 120px; */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--white_50);
  }

  100% {
    box-shadow: 0 0 0 20px transparent;
  }
}

/*-----------------------------------*\
<!---------Customer Reviews------------------->
<!---------Customer Reviews------------------->
 <!---------Customer Reviews------------------->
\*-----------------------------------*/

.t-svg-fix {
  margin-top: 2px;
  align-items: center;
}
.u-relative {
  position: relative;
}
.u-Pt-2xl {
  padding-top: 10rem;
}
.t-svg-fix .t-home-dust-left-1 {
  left: 0;
  max-width: 297px;
  position: absolute;
  top: 3700px;
}
.u-hidden {
  display: none;
}

.t-svg-fix .t-home-dust-right-2 {
  top: 3700px;
  max-width: 301px;
  position: absolute;
  right: 0;
}
.t-svg-fix img {
  display: ;
  height: auto;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 0;
  margin-bottom: 110px;
  width: 50%;
}
.o-container {
  max-width: 100%;
  margin: auto;
  align-items: center;
}
.o-columns {
  grid-gap: 3rem 4rem;
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .o-columns.v--two {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 48rem) {
  .o-columns.v--two {
    grid-template-columns: repeat(2, 1fr);
  }
}
.o-columns .t-home-testimonial-block {
  background: #f6f6f7;
}

@media (min-width: 768px) {
  .md\:u-block {
    display: block;
  }
}

.u-relative {
  position: relative;
}
.u-Pb-xs {
  padding-bottom: 1.5rem;
}
.u-Px-md {
  padding-right: 3rem;
}
.u-Px-md {
  padding-left: 3rem;
}
.u-rounded {
  border-radius: 0.5rem;
}
.o-container .u-text-p5 {
  font-size: 2rem;
  padding-bottom: 30px;
}
.u-text-p5-bold {
  color: #000;
  letter-spacing: -0.02em;
  line-height: 1.35;
}
.u-text-p5 .u-text-p5-bold {
  font-size: 2rem;
}
@media screen and (min-width: 36rem) {
  .u-text-p5 {
    font-size: calc(1.11721rem + 0.49038vw);
  }
}

@media screen and (min-width: 75rem) {
  .u-text-p5 {
    font-size: 1.485rem;
  }
}
.u-text-p5-bold {
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.35;
}
@media screen and (min-width: 36rem) {
  .u-text-p5-bold {
    font-size: calc(1.11721rem + 0.49038vw);
  }
}

@media screen and (min-width: 75rem) {
  .u-text-p5-bold {
    font-size: 1.485rem;
  }
}
.u-text-p8,
.u-text-p8-bold {
  font-size: 1.5rem;
}
.u-my-0 {
  margin-bottom: 0;
  margin-top: 10px;
}
.t-home-testimonial-block {
  width: 500px;
  background: #f6f6f7;
}
@media screen and (max-width: 768px) {
  .t-home-testimonial-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.t-home-testimonial-block .t-home-testimonial-img {
  height: 125px;
  left: 3rem;
  position: absolute;
  top: -60px;
  width: 124px;
}
.u-Pt-md {
  padding-top: 3rem;
}
.sm\:u-Pt-md {
  padding-top: 3rem;
}
.md\:u-Pt-md {
  padding-top: 3rem;
}
.lg\:u-Pt-md {
  padding-top: 3rem;
}
.xl\:u-Pt-md {
  padding-top: 3rem;
}
.u-text-p6,
.u-text-p6-bold {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: normal;
}
/* .u-text-p6-bold {
  font-weight: 500;
  width: 10%;
} */
.c-link {
  color: #06f;
  cursor: pointer;
  text-decoration: none;
}

/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats-card {
  text-align: center;
  padding: 25px;
  border-radius: var(--radius-10);
}

.stats-card :is(.card-title, .card-text) {
  font-family: var(--ff-league_spartan);
}

.stats-card .card-title {
  color: hsl(var(--color));
  font-size: var(--fs-2);
  line-height: 1.1;
}

.stats-card .card-text {
  color: var(--eerie-black-1);
  text-transform: uppercase;
}

/*-----------------------------------*\
<!----Watch your business grow with BizBot---->
<!----Watch your business grow with BizBot---->
<!----Watch your business grow with BizBot---->
\*-----------------------------------*/
.u-Pt-xl {
  padding-top: 6rem;
}
.sm\:u-Pt-xl {
  padding-top: 6rem;
}
.md\:u-Pt-xl {
  padding-top: 6rem;
}
.lg\:u-Pt-xl {
  padding-top: 6rem;
}
.xl\:u-Pt-xl {
  padding-top: 6rem;
}
.u-Pb-md {
  padding-bottom: 3rem;
}
.sm\:u-Pb-md {
  padding-bottom: 3rem;
}
.md\:u-Pb-md {
  padding-bottom: 3rem;
}
.lg\:u-Pb-md {
  padding-bottom: 3rem;
}
.xl\:u-Pb-md {
  padding-bottom: 3rem;
}

.u-Mt-2xs {
  margin-top: 1rem;
}
.sm\:u-Mt-2xs {
  margin-top: 1rem;
}
.md\:u-Mt-2xs {
  margin-top: 1rem;
}
.lg\:u-Mt-2xs {
  margin-top: 1rem;
}
.xl\:u-Mt-2xs {
  margin-top: 1rem;
}

.u-bg-accent {
  background-color: #ffd000 !important;
}
.hover\:u-bg-accent:hover {
  background-color: #ffd000 !important;
}
section {
  display: flex;
  justify-content: center;
}
.o-columns {
  grid-gap: 3rem 2rem;
  display: grid;
}
.t-ls-authors .o-columns {
  grid-gap: 2rem 2rem;
}
.u-ls-block-table table.v--two {
  width: 98%;
}
.u-mx-auto {
  margin-right: auto;
}

.u-ml-auto,
.u-mx-auto {
  margin-left: auto;
}
.o-columns .u-maxw-6 {
  max-width: 40rem;
}
.u-ls-block-table table.v--two {
  width: 98%;
}

.u-ls-block-table table.v--two .u-ls-block-table-thread {
  background: #fffcf6;
  text-align: center;
}

.u-ls-block-table table.v--two .u-ls-block-table-thread th {
  color: #4a4a56;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.u-ls-block-table table.v--two td,
.u-ls-block-table table.v--two th,
.u-ls-block-table table.v--two tr {
  border: 1px solid #ffd000;
  padding: 1rem 2rem;
  vertical-align: baseline;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
.u-text-p8,
.u-text-p8-bold {
  font-size: 0.875rem;
  font-weight: 400;
}
.u-text-p8-bold {
  font-weight: 500;
}

@media screen and (max-width: 48rem) {
  .t-logotype img {
    width: 80px;
  }

  .o-columns.grid-gap-initial {
    grid-gap: initial;
  }
}

@media screen and (max-width: 36rem) {
  .u-ls-block-table table.v--two td,
  .u-ls-block-table table.v--two th {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .o-columns.v--two {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 75rem) {
  .u-text-p2 {
    font-size: 3.41545248rem;
  }
}
@media screen and (min-width: 36rem) {
  .u-text-p2 {
    font-size: calc(0.63118rem + 3.71236vw);
  }
}
@media screen and (max-width: 768px) {
  .o-columns .u-text-p2 {
    font-size: 3.5rem;
  }
}
.u-text-p2 {
  font-size: 4.967632rem;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.035em;
  line-height: 1.05;
}

@media (min-width: 768px) {
  .md\:u-Py-2xs {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
.u-Py-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.sm\:u-Py-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.md\:u-Py-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.lg\:u-Py-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.xl\:u-Py-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.u-Py-2xs {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.md\:u-Py-2xs {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

div {
  display: block;
}
@media (min-width: 768px) {
  .md\:u-text-left {
    text-align: left;
  }
}
@media (min-width: 576px) {
  .sm\:u-flex-row {
    flex-direction: row;
  }
}

.u-mb-xs {
  margin-bottom: 0.5rem !important;
}
.sm\:u-mb-xs {
  margin-bottom: 0.5rem;
}
.md\:u-mb-xs {
  margin-bottom: 0.5rem;
}
.lg\:u-mb-xs {
  margin-bottom: 0.5rem;
}
.xl\:u-mb-xs {
  margin-bottom: 0.5rem;
}
.u-Mb-2xs {
  margin-bottom: 1rem;
}
.sm\:u-Mb-2xs {
  margin-bottom: 1rem;
}
.md\:u-Mb-2xs {
  margin-bottom: 1rem;
}
.lg\:u-Mb-2xs {
  margin-bottom: 1rem;
}
.xl\:u-Mb-2xs {
  margin-bottom: 1rem;
}

.u-flex-col {
  flex-direction: column;
}
.u-flex {
  display: flex;
}
.u-mx-auto {
  margin-right: auto;
}
.u-ml-auto,
.u-mx-auto {
  margin-left: auto;
}
.u-maxw-6 {
  max-width: 46rem;
}
.u-mr-xs {
  margin-right: 0.5rem !important;
}
.sm\:u-mr-xs {
  margin-right: 0.5rem;
}
.lg\:u-mr-xs {
  margin-right: 0.5rem;
}
.md\:u-mr-xs {
  margin-right: 0.5rem;
}
.xl\:u-mr-xs {
  margin-right: 0.5rem;
}
.u-maxw-7 {
  max-width: 34rem;
}
.u-inline-block {
  display: inline-block;
}
.sm\:u-inline-block {
  display: inline-block;
}
.md\:u-inline-block {
  display: inline-block;
}
.lg\:u-inline-block {
  display: inline-block;
}
.xl\:u-inline-block {
  display: inline-block;
}
.u-mr-md {
  margin-right: 1rem;
}
.sm\:u-mr-md {
  margin-right: 1rem;
}
.md\:u-mr-md {
  margin-right: 1rem;
}
.lg\:u-mr-md {
  margin-right: 1rem;
}
.xl\:u-mr-md {
  margin-right: 1rem;
}
.c-btn.v--signup {
  background-color: #ff2b00;
  border-color: #ff2b00;
  color: #fff;
}
.c-btn:not(:disabled) {
  cursor: pointer;
}
.c-btn:not(:focus) {
  box-shadow: none;
}
.c-btn {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: 500;
  line-height: normal;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, color 0.2s, border 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.o-input-group__prepend .c-btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.o-input-group__append .c-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
input[type="email"],
input[type="text"] {
  border: 1px solid;
  border-radius: 0.25rem;
  box-shadow: none;
  line-height: normal;
  padding: 0.75rem;
  width: 100%;
}
input,
button {
  background: white;
  border: none;
  font: inherit;
}

.c-btn.v--signup {
  background-color: #ff2b00;
  border-color: #ff2b00;
  color: #fff;
}

.c-btn.v--signup:hover {
  background-color: #e02600;
  border-color: #e02600;
  color: #fff;
}

.o-container {
  max-width: 85.5rem;
}
.u-relative {
  position: relative;
}
.u-text-center {
  text-align: center;
}
.sm\:u-text-center {
  text-align: center;
}
.md\:u-text-center {
  text-align: center;
}
.lg\:u-text-center {
  text-align: center;
}
.xl\:u-text-center {
  text-align: center;
}
.md\:u-text-left {
  text-align: left;
}
/*-----------------------------------*\
<!---------- Seamless Integration ---------->
<!---------- Seamless Integration ---------->
<!---------- Seamless Integration ---------->
\*-----------------------------------*/
.t-home-dark {
  background: #0c0c0a;
}

.t-home-darkdust-left {
  left: 0;
  max-width: 286px;
  position: absolute;
  top: 0;
}

.t-home-darkdust-right {
  max-width: 409px;
  position: absolute;
  right: 0;
  top: 0;
}
.u-relative {
  position: relative;
}
.u-Py-xl {
  padding-top: 5rem;
}
.sm\:u-Py-xl {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.md\:u-Py-xl {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.lg\:u-Py-xl {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.xl\:u-Py-xl {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.t-home-darkdust-left {
  left: 0;
  max-width: 286px;
  position: absolute;
  top: 0;
}
.u-hidden {
  display: none;
}
.md\:u-block {
  display: block;
}
.t-home-darkdust-right {
  max-width: 409px;
  position: absolute;
  right: 0;
  top: 0;
}
.u-maxw-9 {
  max-width: 82rem;
}
.u-px-xs {
  padding-right: 0.5rem;
}
.u-text-white {
  color: #fff !important;
}
.hover\:u-text-white:hover {
  color: #fff !important;
}
.u-text-p1 {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.05;
}
@media screen and (min-width: 36rem) {
  .u-text-p1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 75rem) {
  .u-text-p1 {
    font-size: 5.5rem;
  }
}
.u-text-p5 {
  font-size: 1.29375rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.35;
  padding-top: 20px;
}
@media screen and (min-width: 36rem) {
  .u-text-p5 {
    font-size: calc(1.11721rem + 0.49038vw);
  }
}

@media screen and (min-width: 75rem) {
  .u-text-p5 {
    font-size: 1.7rem;
  }
}
.u-w-full {
  width: 100%;
}
.c-link {
  color: #06f;
  cursor: pointer;
  text-decoration: none;
}
.u-text-p6,
.u-text-p6-bold {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: normal;
}
.u-text-p6-bold {
  font-weight: 500;
}
.t-home-chatbot-dashboard {
  max-width: 1000px;
  margin-top: 30px;
  width: 100%;
}
.b--u-mb-12 {
  margin-bottom: 0 !important;
}
.u-block {
  display: block;
}
.b--u-py-12 {
  padding-bottom: 11rem !important;
  padding-top: 6rem !important;
  display: flex;
  justify-content: center;
}
.t-home-chatbot-team-feature {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .t-home-chatbot-team-feature {
    max-width: 100%;
  }
  .o-container .u-text-p5 {
    max-width: 100%;
    font-size: 1.5rem;
    text-align: center;
    /* padding-right: 35px;
    margin-left: 31px; */
  }
  .o-container .u-maxw-9 .u-text-p1 {
    text-align: center;
    font-size: 2.26277684rem;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.05;
  }
}

.b--u-mt-12 {
  margin-top: 6rem !important;
}
.u-Pb-xs {
  padding-bottom: 1.5rem;
}
.sm\:u-Pb-xs {
  padding-bottom: 1.5rem;
}
.md\:u-Pb-xs {
  padding-bottom: 1.5rem;
}
.lg\:u-Pb-xs {
  padding-bottom: 1.5rem;
}
.xl\:u-Pb-xs {
  padding-bottom: 1.5rem;
}
.u-Pb-xl {
  padding-bottom: 6rem;
}
.md\:u-Pb-xl {
  padding-bottom: 0;
}

/*-----------------------------------*\
  About Bizmorphic
  About Bizmorphic
  About Bizmorphic
\*-----------------------------------*/

.footer {
  background-color: #28282f;
  color: var(--cool-gray);
}

.footer-top {
  padding-block-end: 60px;
  display: grid;
  gap: 50px;
}

.footer-list-title {
  color: var(--white);
  font-size: 2rem;
  font-weight: var(--fw-500);
  margin-block-end: 20px;
}

.footer-text {
  margin-block-end: 30px;
  line-height: 1.5;
}
.social-list {
  display: flex;
  gap: 25px;
}

.footer .social-list {
  gap: 12px;
}

.footer .social-list .social-link {
  background-color: #3f3f46;
  color: lightblue;
  padding: 14px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.footer .social-link:is(:hover, :focus) {
  background-color: rgb(53, 53, 134);
  color: var(--white);
}

.footer-list .footer-link {
  font-size: var(--fs-8);
  margin-block-start: 15px;
  transition: var(--transition-1);
  color: var(--cool-gray);
}

.footer-link:is(:hover, :focus) {
  color: var(--mustard);
}

.insta-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.insta-card {
  position: relative;
  border-radius: var(--radius-10);
  overflow: hidden;
}

.insta-card .card-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  background-color: var(--blue-ryb_80);
  color: var(--white);
  font-size: 25px;
  opacity: 0;
  transition: var(--transition-1);
}

.insta-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  background-color: rgba(0, 102, 255, 0.496);
}

.footer-bottom {
  color: var(--white);
  font-size: var(--fs-8);
  padding-block: 40px;
  border-block-start: 1px solid #3f3f46;
}

.copyright {
  margin-block-end: 15px;
  line-height: 1.2;
}

.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
}

.footer-bottom-list .footer-bottom-link {
  transition: var(--transition-1);
  color: var(--cool-gray);
}

.footer-bottom-link:is(:hover, :focus) {
  color: lightseagreen;
}

.containe {
  padding-inline: 15px;
}
@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .containe {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 5.5rem;
    --fs-2: 3.8rem;
    --fs-7: 1.8rem;

    /**
     * spacing
     */

    --section-padding: 120px;
  }
  /**
   * REUSED STYLE
   */

  .containe {
    max-width: 720px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    text-align: center;
  }

  .footer-bottom-list {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .containe {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.9fr;
    padding-block: 80px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block-end: 0;
  }
}

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  /**
   * REUSED STYLE
   */

  .containe {
    max-width: 1140px;
  }

  /**
   * HEADER
   */

  .header .container {
    padding-inline: 30px;
  }

  .navbar-list {
    gap: 50px;
  }
}
/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: rgb(24, 57, 187);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-8);
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
}
.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}

.back-top-btn::after {
  bottom: -12px;
  right: 0;
  width: 100%;
  height: 10px;
  background-image: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 0%, 0.25),
    transparent 80%
  );
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr;
  }

  /**
   * HEADER
   */

  .header .container {
    max-width: unset;
  }

  .header-actions {
    gap: 30px;
  }

  /**
   * HERO
   */

  /* .hero-banner {
    grid-template-columns: 1fr 0.9fr;
  } */

  /**
   * VIDEO
   */

  .video {
    background-color: #f7f7f7;
    padding: 25px;
  }

  /**
   * STATS
   */

  .stats-card {
    padding: 40px 30px;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child {
    grid-column: 1 / 3;
  }

  .newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .newsletter-form .input-field {
    margin-block-end: 0;
  }

  .newsletter-form .btn {
    min-width: max-content;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * HEADER
   */

  .header .container {
    padding-inline: 30px;
  }

  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }

  /**
   * HERO
   */
  /**
   * ABOUT
   */

  .about {
    padding-block-start: 50px;
  }

  .about-banner {
    padding: 60px;
    padding-inline-end: 0;
  }

  .about-banner .img-holder {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-shape-1 {
    display: block;
    top: -40px;
    right: -70px;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child {
    grid-column: auto;
  }

  .newsletter-form .btn {
    padding-block: 10px;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  :root {
    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero .section-title,
  .hero-text {
    text-align: left;
  }

  .hero .btn {
    margin-inline: 0;
  }

  .about .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: center;
    gap: 60px;
  }

  .video-banner {
    max-width: 75%;
    margin-inline: auto;
  }

  .footer .grid-list {
    grid-template-columns: 1fr 0.6fr 0.6fr 1.2fr;
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 6.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1185px;
  }

  .shape {
    display: block;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }

  /**
   * HEADER
   */

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay {
    display: none;
  }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }

  .navbar-item:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    color: var(--eerie-black-1);
    padding-block: 20px;
  }

  .header .btn {
    margin-inline-end: 0;
  }
}

/*-----------------------------------*\
<!--Relax, let BizBot grow your business! -->
<!--Relax, let BizBot grow your business! -->
<!--Relax, let BizBot grow your business! -->
\*-----------------------------------*/

/* .o-container {
  max-width: 72.5rem;
} */
.u-Py-xl {
  padding-bottom: 0;
  padding-top: 0;
}
.t-home-widget-background {
  left: 4px;
  width: 794px;
  position: absolute;
  top: 30px;
}
.o-widget {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  display: grid;
  font-family: Source Sans Pro, sans-serif;
  font-size: 15px;
  grid-template-rows: 80px 1fr 50px;
  height: 570px;
  margin: 0 auto;
  overflow: hidden;
  width: 350px;
}
.o-widget .o-widget-header {
  grid-gap: 20px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 15px 20px;
}
.o-widget .o-widget-header .avatar {
  border-radius: 100%;
  height: 45px;
  position: relative;
  width: 45px;
}
.o-widget .o-widget-header .avatar:after {
  background: #18cc73;
  border: 2px solid #fff;
  border-radius: 100%;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}
.o-widget .o-widget-header .name {
  font-size: 18px;
  font-weight: 600;
}
.o-widget .o-widget-header .status {
  font-size: 15px;
  margin-top: 15px;
  opacity: 0.7;
}
.o-widget .o-widget-container {
  background: #eaeef3;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 0;
}
.o-widget .o-widget-container .o-widget-msg {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: 22px 1fr;
  padding-bottom: 20px;
  padding-left: 24px;
  position: relative;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-msg {
  padding-bottom: 0;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-msg-avatar {
  border-radius: 100%;
  height: 22px;
  width: 22px;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-msg-container {
  overflow: hidden;
}
.o-widget .o-widget-container .o-widget-msg .author {
  font-size: 13px;
  padding: 2px 0 4px;
}
.o-widget .o-widget-container .o-widget-msg .author + .o-widget-text {
  border-radius: 20px 20px 20px 5px;
}
.o-widget .o-widget-container .o-widget-msg.user .o-widget-text {
  background: #000;
  border-radius: 20px 5px 20px 20px;
  color: #fff;
  display: table;
  float: right;
  margin-right: 0;
  width: auto;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-text {
  background: #fff;
  border-radius: 5px 20px 20px 5px;
  color: #303037;
  display: table;
  margin-right: 25px;
  min-width: 50px;
  padding: 13px 15px;
  line-height: 1.5rem;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-text:last-child {
  border-radius: 5px 20px 20px 20px;
}
.o-widget .o-widget-container .o-widget-msg.full {
  display: block;
  grid-template-columns: 1fr;
  padding-left: 0;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-quick-replies {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px 10px;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-quick-replies .button {
  background: #fff;
  border: 1px solid #006cff;
  border-radius: 30px;
  color: #006cff;
  float: left;
  font-weight: 700;
  margin-bottom: 8px;
  margin-right: 8px;
  min-width: 50px;
  padding: 5px 15px;
  text-align: center;
}
.o-widget .o-widget-container .o-widget-msg.user {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
}
.o-widget .o-widget-container .o-widget-msg .author + .o-widget-text {
  border-radius: 20px 20px 20px 5px;
}
.u-text-right {
  text-align: right;
}
.u-text-gray-600 {
  color: #909099 !important;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-carousel {
  padding: 10px 0;
  width: 100%;
}
.t-path-left.sal-animate {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: path-animation 3.2s linear forwards;
  visibility: visible;
}
.t-path-right.sal-animate {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: path-animation 3.2s linear forwards;
  visibility: visible;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-carousel .arrow-left {
  align-items: center;
  background: #fff;
  border: 1px solid #f6f6f7;
  border-radius: 100%;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.25),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  left: 20px;
  padding-right: 2px;
  position: absolute;
  top: calc(50% - 17.5px);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
  width: 35px;
  z-index: 1;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .arrow-left:hover {
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.45),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.o-widget .o-widget-container .o-widget-msg .o-widget-carousel .arrow-left img {
  height: 15px;
  transform: rotate(180deg);
  width: 11px;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-carousel .arrow-right {
  align-items: center;
  background: #fff;
  border: 1px solid #f6f6f7;
  border-radius: 100%;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.25),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  padding-left: 2px;
  position: absolute;
  right: 20px;
  top: calc(50% - 17.5px);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 35px;
  z-index: 1;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .arrow-right:hover {
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.45),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .arrow-right
  img {
  height: 15px;
  width: 11px;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container {
  grid-gap: 15px;
  display: flex;
  overflow-x: auto;
}
.u-Pb-2xs {
  padding-bottom: 1rem;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container.single-card
  .o-widget-card-container:first-child {
  margin-left: 2px;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container
  .o-widget-card-container {
  flex: 0 0 220px;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container
  .o-widget-card-container
  .o-widget-card {
  grid-row-gap: 10px;
  background: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 170px auto;
  height: 100%;
  overflow: hidden;
  width: 220px;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container
  .o-widget-card-container
  .o-widget-card
  img {
  height: 100%;
  margin: -1px -1px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.u-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.u-shadow-before {
  overflow: hidden;
  position: relative;
}

.u-shadow-before:before {
  background-image: linear-gradient(
    0deg,
    hsla(240, 3%, 68%, 0),
    hsla(240, 4%, 84%, 0.2)
  );
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}
.u-shadow-after {
  overflow: hidden;
  position: relative;
}

.u-shadow-after:after {
  background-image: linear-gradient(
    180deg,
    hsla(240, 3%, 68%, 0),
    hsla(240, 4%, 84%, 0.2)
  );
  bottom: 0;
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  width: 100%;
}
.hover\:u-shadow:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.u-mb-md {
  margin-bottom: 1rem;
}
.u-px-md {
  padding-right: 1rem;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container
  .o-widget-card-container
  .o-widget-card
  .title {
  font-weight: 700;
}
.u-flex-1 {
  flex: 1;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-carousel
  .o-widget-carousel-container
  .o-widget-card-container
  .o-widget-card
  .button {
  border-top: 1px solid #e3e3e3;
  color: #006cff;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
}
.o-widget .o-widget-container .o-widget-msg .o-widget-button {
  clear: left;
  max-width: 180px;
}
.u-mb-2xs {
  margin-bottom: 0.25rem;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-button
  .o-widget-button-container
  .button.selected {
  background: #006cff;
  color: #fff;
}
.u-py-sm {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.u-px-sm {
  padding-right: 0.75rem;
}
.u-mb-sm {
  margin-bottom: 0.75rem;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-button
  .o-widget-button-container {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  display: grid;
  overflow: hidden;
}
.o-widget
  .o-widget-container
  .o-widget-msg
  .o-widget-button
  .o-widget-button-container
  .button {
  background: #fff;
  border-top: 1px solid #e3e3e3;
  color: #006cff;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
}
.u-pl-sm,
.u-px-sm {
  padding-left: 0.75rem;
}
.o-widget .o-widget-textarea {
  border-top: 1px solid #e3e3e3;
  font-size: 15px;
  padding: 12px 20px;
}
.u-text-p7,
.u-text-p7-bold {
  font-size: 1.5rem;
  font-weight: 400;
}
.o-widget .o-widget-textarea .o-widget-send-message {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 20px;
}
@media screen and (min-width: 36rem) {
  .u-text-p1 {
    font-size: calc(0.1899rem + 5.758vw);
  }
}
@media screen and (min-width: 75rem) {
  .u-text-p1 {
    font-size: 4.50839727rem;
  }
}

@media (min-width: 64rem) {
  .c-tour {
    grid-column-gap: 8.33333333%;
    display: grid;
    grid-template-areas: "text visual";
    grid-template-columns: 33.33333333% 58.33333333%;
  }
  .c-tour.v--long {
    grid-column-gap: 0;
    grid-template-columns: 50% 50%;
  }
  .c-tour.v--long.v--inverse {
    grid-template-areas: "visual text";
    grid-template-columns: 50% 50%;
  }
  .c-tour.v--middle {
    grid-column-gap: 3.33333333%;
    grid-template-columns: 46.66666667% 50%;
  }
  .c-tour.v--middle.v--inverse {
    grid-column-gap: 8.33333333%;
    grid-template-areas: "visual text";
    grid-template-columns: 50% 41.66666667%;
  }
  .c-tour.v--horizontal {
    display: flex;
    flex-direction: column;
  }
  .c-tour.v--horizontal .c-tour__gallery {
    padding-bottom: 3rem;
  }
  .c-tour.v--horizontal .c-tour__features:after {
    content: none;
  }
  .c-tour.v--horizontal.v--active {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), -3px 0 #06f;
  }
  .c-tour.v--centered {
    grid-column-gap: 3.6%;
  }
  .c-tour.v--centered,
  .c-tour.v--centered.v--inverse {
    grid-template-areas: "text visual text2";
    grid-template-columns: 27.7% 41% 27.7%;
  }
  .c-tour.v--inverse {
    grid-template-areas: "visual text";
    grid-template-columns: 58.33333333% 33.33333333%;
  }
}
/* .u-maxw-9 {
  max-width: 52rem;
} */
.o-container .u-maxw-9 .u-text-p1 {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.05;
}
.u-Mb-md {
  margin-bottom: 3rem;
}
/* .u-maxw-9 .u-maxw-8 {
  max-width: 46rem;
} */
.c-tour.c-tour-text-xl {
  grid-column-gap: 20%;
  grid-template-columns: 44% 50%;
  padding-bottom: 95px;
}
.c-tour__features {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  grid-area: text;
  margin-left: -4vw;
  margin-right: -4vw;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 1.5rem;
  padding-left: 4vw;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 550px;
}
@media (min-width: 64rem) and (min-width: 64rem) {
  .c-tour.v--horizontal .c-tour__features {
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-tour__features.v--dark .v--active h2,
.c-tour__features.v--dark .v--active h3,
.c-tour__features.v--dark .v--active h4,
.c-tour__features.v--dark .v--active h5 {
  color: #ffd000;
}
@media (min-width: 64rem) {
  .c-tour__features.v--dark h2,
  .c-tour__features.v--dark h3,
  .c-tour__features.v--dark h4,
  .c-tour__features.v--dark h5 {
    margin-bottom: 0;
  }
  .c-tour__features.v--dark .c-tour__feature {
    background: none;
    padding: 0.5rem 1.5rem 0 !important;
  }
  .c-tour__features.v--dark .c-tour__feature .c-tour__feature_description {
    display: none !important;
  }
  .c-tour__features.v--dark .v--active {
    box-shadow: -3px 0 #ffd000;
  }
  .c-tour__features.v--dark .v--active .c-tour__feature_description {
    display: block !important;
  }
  .c-tour__features {
    flex-direction: column;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
    height: 550px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
  .c-tour__features::-webkit-scrollbar {
    display: none;
  }
}
.u-maxw-13 .c-tour .u-Pt-md {
  padding-top: 1rem;
  max-width: 100%;
  margin-top: 0px;
}
.c-tour__features.v--dark .c-tour__feature {
  background: #1b1b20;
}
.c-tour__feature {
  background: #f6f6f7;
  border-radius: 0.5rem;
  flex: none;
  padding: 1.5rem;
  scroll-snap-align: center;
  width: 88%;
}
@media (max-width: 64rem) {
  .c-tour__feature {
    margin-right: 1rem;
  }
  .u-text-p5 .u-text-p5-bold {
    font-size: 1.4rem;
  }
}
@media (min-width: 48rem) {
  .c-tour__feature {
    padding: 2rem;
    width: calc(45% - 2rem);
  }
}
@media (min-width: 64rem) {
  .c-tour__feature {
    background: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: -1.5rem;
    /* padding: 1rem 1.5rem 0; */
    width: 100%;
  }
  .c-tour__feature:last-child {
    margin-bottom: 0;
  }
  .c-tour__feature:hover {
    background: #f6f6f7;
  }
  .c-tour__feature.v--active {
    background: #f6f6f7;
    box-shadow: -3px 0 #06f;
  }
}
@media (min-width: 75rem) {
  .c-tour__feature {
    margin-left: -1.5rem;
  }
}
.u-flex {
  display: flex;
}
.u-flex-col {
  flex-direction: column;
}
.u-justify-between {
  justify-content: space-between;
}
.c-tour__features.v--dark .c-tour__feature:hover .c-tour__feature_title {
  color: #ffd000 !important;
}
@media screen and (min-width: 1024px) {
  .c-tour__feature.v--active {
    background: none;
  }
  .c-tour__feature.v--active .c-tour__feature_title {
    color: #06f;
  }
  .c-tour__feature:hover {
    background: none;
  }
  .c-tour__feature:hover .c-tour__feature_title {
    color: #06f;
  }
}
.c-tour__feature.v--boxed.v--active .c-tour__feature_title {
  color: #06f;
}
.u-text-p6,
.u-text-p6-bold {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.u-text-p6-bold {
  font-weight: 700;
  color: #000000;
}
.c-tour__features.v--dark .c-tour__feature .c-tour__feature_description {
  display: block !important;
}
@media (min-width: 64rem) {
  .c-tour__image {
    display: none;
  }
}
@media (max-width: 64rem) {
  .c-tour__features.v--white .c-tour__feature,
  .c-tour__features.v--white .c-tour__feature:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  .c-tour__features.v--white .c-tour__feature:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), -3px 0 #06f;
  }
}
@media (min-width: 64rem) {
  .c-tour__features.v--white .v--active h2,
  .c-tour__features.v--white .v--active h3,
  .c-tour__features.v--white .v--active h4,
  .c-tour__features.v--white .v--active h5 {
    color: #06f;
  }
}
@media (max-width: 64rem) {
  .c-tour__features.v--white .v--active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}
.c-tour__feature--horizontal {
  background: #f6f6f7;
  border-radius: 0.5rem;
  flex: none;
  padding: 1.5rem;
  scroll-snap-align: center;
  width: calc(90% - 1.5rem);
}
@media (max-width: 64rem) {
  .c-tour__feature--horizontal:not(:first-child) {
    margin-left: 1rem;
  }
}
@media (min-width: 48rem) {
  .c-tour__feature--horizontal {
    width: calc(45% - 2rem);
  }
  /* padding: 2rem; */
}
@media (min-width: 64rem) {
  .c-tour__feature--horizontal {
    background: transparent;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    width: 30% !important;
  }
  .c-tour__feature--horizontal.v--active,
  .c-tour__feature--horizontal:hover {
    background: #f6f6f7;
    box-shadow: 0 -3px 0 #06f;
  }
  .c-tour__feature--horizontal.v--active h2,
  .c-tour__feature--horizontal.v--active h3,
  .c-tour__feature--horizontal.v--active h4,
  .c-tour__feature--horizontal.v--active h5 {
    color: #06f;
  }
}
.c-tour__features.v--second {
  grid-area: text2;
}
.c-tour__features:not(.v--reset):after {
  content: "";
  flex: 0 0 0;
  margin: 0;
  padding: 0;
}
.c-tour__features.v--white .v--active {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), -3px 0 #06f;
}
@media screen and (max-width: 64rem) {
  .c-tour__feature.v--dark {
    background-color: transparent;
  }
}

/* <!------Get started with templates------------->
<!---------Get started with templates-------------->
<!---------Get started with templates---------------> */
.u-bg-gray-900 {
  background-color: #f6f6f7 !important;
  display: flex;
  flex-direction: column;
}
.u-maxw-10 {
  max-width: 72rem;
  padding-bottom: 0;
}
.u-maxw-10 .u-text-p1 {
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-size: 5.5rem;
  color: #000;
}
@media screen and (max-width: 768px) {
  .u-maxw-10 .u-text-p1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
  }

  .u-maxw-13 .u-maxw-9 .u-text-p1 {
    font-size: 3.5rem;
  }
  .utext {
    text-align: center;
    line-height: 4.5rem;
  }
}

.u-bg-gray-900 .u-Pt-xl {
  padding-top: 3rem;
}
.u-items-center {
  align-items: center;
}
.t-home-swiper .swipe-slide {
  flex-shrink: 0;
  height: auto !important;
  min-height: 295px;
  padding: 2rem 0;
  position: relative;
  transition: all 0.2s;
  transition-property: transform;
  max-width: 100%;
}

.u-maxw-16 {
  max-width: 191rem;
}
.u-Py-md {
  padding-bottom: 6rem;
  padding-top: 0rem;
}
@media screen and (max-width: 48rem) {
  .t-home-swiper .swiper-next {
    right: 15px;
    position: absolute;
  }
}
.u-items-start {
  align-items: flex-start;
}
a.v--no-underline:hover {
  text-decoration: none;
}
.u-bg-white {
  background-color: #fff !important;
}
.hover\:u-bg-white:hover {
  background-color: #fff !important;
}
.u-shadow-xl {
  box-shadow: 0 9px 24px rgba(0, 0, 0, 0.12), 0 9px 24px rgba(0, 0, 0, 0.12);
}
.hover\:u-shadow-xl:hover {
  box-shadow: 0 9px 24px rgba(0, 0, 0, 0.12), 0 9px 24px rgba(0, 0, 0, 0.12);
}
.u-justify-center {
  justify-content: center;
}
.u-content-between {
  align-content: space-between;
}

.u-text-p4 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
.u-py-2xs {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.u-text-black {
  color: #000 !important;
}
/* Extra large devices (greater than 1200px) */
@media (min-width: 1200px) {
  .swipe-slide {
    max-width: 800px;
  }
}
/* @media (max-width: 64rem) {
  .swiper-container {
    max-width: 300px;
  }
} */
/* =================================================================== */
/*------------------------------------------------------*\
#Seamless Integration with Your Current Digital Technology
#Seamless Integration with Your Current Digital Technology
#Seamless Integration with Your Current Digital Technology
\*------------------------------------------------------*/

a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #001eff;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row__inner {
  transition: 450ms;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  width: 250px;
  display: inline-block;
  /* background-color: #303037; */
  border-radius: 1rem;
  /* height: 140.625px; */
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
}
.tile__img {
  margin: auto;
  width: 62%;
  padding-bottom: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  /* background-color: #303037; */
  word-break: break-all;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* opacity: 0; */
  /* background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  ); */
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile:hover .tile__details {
  opacity: 1;
}

.tile:hover .tile__details .u-text-p6-bold {
  color: blue;
  text-decoration: none;
}
.tile__title {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  bottom: 0;
  width: 100%;
  padding: 10px;
  padding-bottom: 15px;
  text-align: center;
  line-height: 3rem;
}
.row__inner:hover {
  transform: translate3d(0, 0, 0);
}
body:-webkit-scrollbar {
  width: 0;
}
.row__inner:hover .tile:hover {
  transform: scale(1.1);
}
.tile:hover ~ .tile {
  transform: translate3d(10px, 0, 30px);
}
.tile__title .with-arrow {
  width: 35px;
  display: inline-block;
  position: absolute;
  height: 35px;
  /* background-color: #18cc73; */
  /* align-items: center; */
}
/*------------------------------------------------------*\
#HOME PAGE
#HOME PAGE
#HOME PAGE
#HOME PAGE
\*------------------------------------------------------*/
.o-container-xl {
  /* max-width: 84.5rem; */
  /* margin-top: 150px; */
  padding-top: 150px;
  background-color: #caf0f8;
}
.b--u-pb-6 {
  padding-bottom: 3rem !important;
}
.b--md\:u-pb-8 {
  padding-bottom: 4rem !important;
}
.b--lg\:u-pb-12 {
  padding-bottom: 6rem !important;
}
.o-container-xl .u-flex {
  display: flex;
  gap: 5px;
}
/* .u-flex-wrap {
  flex-wrap: nowrap;
} */
.md\:u-items-start {
  align-items: flex-start;
}
.lg\:u-basis-5 {
  flex-basis: 30%;
}
/* .lg\:u-ml-0 {
  margin-left: 0 !important;
} */
.b--u-mb-4 {
  margin-bottom: 2rem !important;
}
.lg\:u-mb-0 {
  margin-bottom: 0 !important;
}
.b--u-pt-4 {
  padding-top: 2rem !important;
}
.b--md\:u-pt-8 {
  padding-top: 4rem !important;
}
.b--lg\:u-pt-12 {
  padding-top: 6rem !important;
}
.lg\:u-text-left {
  text-align: left;
}
.b--u-text-4xl,
.b--u-text-5xl {
  font-weight: 700;
  letter-spacing: -1px;
}
.b--u-text-4xl {
  font-size: 6rem;
  line-height: 1.02777778;
  color: #000;
}
.b--u-mb-3 {
  margin-bottom: 1.5rem !important;
}
.u-text-mark {
  position: relative;
  z-index: 1;
}

.u-text-mark:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 236 16' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.8 8.3 16.8-.6L35 7.1l15-.7c2.2-.1 4.5-.3 6.8-.3l10-.2h5.5l10.3.2 15.4.6L129.5 8l15.5.8 15.4.7c9.7.4 19.4.7 29 1.3l8 .5 8.9.7 7.7.7 3.2.3 3.7.5 5.2.6 6.6 1.2.6.1a2.3 2.3 0 0 0 2.3-1.6c.2-.6.1-1.3-.2-1.9-.2-.4-.8-1-1.3-1.1l-4.2-.8-4.2-.7A403.3 403.3 0 0 0 212 7.7a2.4 2.4 0 0 0 1-2.4c-.2-.6-.6-1.2-1-1.5l-1.1-.5a33 33 0 0 0-2.6-.4l-2-.3-3.8-.2L195 2l-15.5-.5-15.4-.3L156 1h-24.4L115.8.8C106.1.7 96.2.6 86.4.7H71.8c-5.2 0-10.4 0-15.6.2L45.9 1l-5.9.1-9.4.4-6.2.3c-7.4.5-14.7 1-22 1.7-.5.1-.8.3-1.1.6-.5.4-.8 1-.8 1.6 0 1.3 1 2.5 2.3 2.5' fill='%23ffd000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -0.1em;
  content: "";
  display: block;
  height: 0.3em;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.b--u-text-lg {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.333;
}
.u-maxw-8 {
  max-width: 78rem;
}
.b--lg\:u-mb-6 {
  margin-bottom: 3rem !important;
}
.sm\:u-flex-row {
  flex-direction: row;
}
.sm\:u-mb-0 {
  margin-bottom: 0 !important;
}
.b--u-mb-8 {
  margin-bottom: 4rem !important;
}
.b--u-mr-2 {
  margin-right: 1rem !important;
}
.u-inline-block {
  display: inline-block;
}
.u-pb-0 {
  padding-bottom: 0 !important;
}
.b--u-mr-1 {
  margin-right: 0.5rem !important;
}
.lg\:u-flex-row {
  flex-direction: row;
}
.u-justify-start {
  justify-content: flex-start;
}
.b--u-text-xs {
  font-size: var(--font-size-xs);
  font-weight: 700;
  line-height: 1.28571429;
}
.u-text-gray-200 {
  color: #303037 !important;
}
.hover\:u-text-gray-200:hover {
  color: #303037 !important;
}
.b--u-mb-2 {
  margin-bottom: 1rem !important;
}
.b--u-text-2xs {
  font-size: var(--font-size-2xs);
  font-weight: 400;
  line-height: 1.333;
}
.b--u-text-bold {
  font-weight: 700;
}
.u-maxw-4 {
  max-width: 22rem;
}
.b--lg\:u-ml-6,
.b--lg\:u-mx-6 {
  margin-left: 3rem !important;
}
@media screen and (min-width: 48rem) {
  .o-feature__zoom.v--xl {
    width: 60vw;
  }
}

.o-feature.v--inverse > div:nth-child(2) .o-feature__zoom {
  float: right;
}
.md\:u-hidden {
  display: none;
}
video {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .o-container-xl {
    padding-top: 30px;
  }
  .u-flex-wrap {
    flex-wrap: wrap;
  }

  .u-justify-center {
    justify-content: center;
  }

  .u-items-center {
    align-items: center;
  }

  .u-text-center {
    text-align: center;
  }

  .u-text-left {
    text-align: left;
  }

  .u-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .u-maxw-6 {
    max-width: 100%;
  }

  .u-block {
    display: block;
  }

  .u-hidden {
    display: none;
  }

  .u-relative {
    position: relative;
  }
  .u-class {
    position: relative;
    display: flex;
  }

  .o-feature__zoom {
    overflow: hidden;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .b--md\:u-text-lg {
    font-size: 1.25rem;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .b--md\:u-pt-8 {
    padding-top: 2rem;
  }

  .b--md\:u-mb-8 {
    margin-bottom: 2rem;
  }

  .b--u-mb-3 {
    margin-bottom: 1.5rem;
  }

  .u-mr-xs {
    margin-right: 0.25rem;
  }

  .u-mb-xs {
    margin-bottom: 0.25rem;
  }

  .sm\:u-mb-0 {
    margin-bottom: 0;
  }

  .u-mb-4 {
    margin-bottom: 1rem;
  }

  .b--u-mr-2 {
    margin-right: 0.5rem;
  }

  .b--u-mb-8 {
    margin-bottom: 2rem;
  }

  .b--u-mb-4 {
    margin-bottom: 1rem;
  }

  .u-maxw-8 {
    max-width: 100%;
  }

  .b--u-text-2xl {
    font-size: 1.5rem;
  }

  .u-text-mark {
    /* background-color: #f0f0f0; */
  }

  .b--u-text-base {
    font-size: 1rem;
  }

  .b--u-text-xs {
    font-size: 0.75rem;
  }

  .b--u-text-4xl {
    font-size: 4rem;
  }

  .u-text-p7 {
    color: #777;
  }

  .u-text-gray-200 {
    color: #ccc;
  }

  .b--u-text-2xs {
    font-size: 0.625rem;
  }

  .b--u-text-bold {
    font-weight: bold;
  }

  .v--signup {
    vertical-align: middle;
  }

  .u-inline-block {
    display: inline-block;
  }

  .b--u-pt-4 {
    padding-top: 1rem;
  }

  .b--u-pb-6 {
    padding-bottom: 1.5rem;
  }

  .b--u-pb-12 {
    padding-bottom: 3rem;
  }

  .b--lg\:u-ml-0 {
    margin-left: 0;
  }

  .b--u-pt-12 {
    padding-top: 3rem;
  }

  .b--u-mb-6 {
    margin-bottom: 1.5rem;
  }

  .u-ml-0 {
    margin-left: 0;
  }
  .c-tour .c-tour__gallery {
    margin-top: 40px;
  }

  .o-columns .u-maxw-6 {
    max-width: 90%;
    padding-bottom: 10px;
  }
  .u-pad {
    padding-bottom: 0;
  }
}

/* <!---------- Seamless Integration ---------->
<!---------- Seamless Integration ---------->
<!---------- Seamless Integration ----------> */

.swiper {
  width: 100%;
  background-color: #0c0c0a;
}
.swipe-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 20em;
  height: 90%;
  border-radius: 2em;
  background-color: #303037;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card_title {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  top: 0.5em;
  text-align: center;
  color: #006cff;
}

.card_text {
  text-align: center;
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
  color: whitesmoke;
}
.card_content:hover .u-text-p6 {
  color: aqua;
  text-decoration: none;
}
/* End Of the CSS */
